<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Strategic Chess Player - Home</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
  crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
  crossorigin="anonymous"></script>


  

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid" >
            <div class="navbar-header">
                <a class="navbar-brand" href="#" >SCP</a>
            </div>
            <ul class="nav navbar-nav" >
                <li class="active" > <a href="/" >Home</a> </li>
                <li> <a href="/load" >Load Game</a> </li>
            </ul>


        </div>
    </nav>




</body>

</html>